
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
out/
artifacts/

*.config
*.env

*.log
logs/

packages/
*.nupkg
.nuget/

*.tmp
*.cache
*.pidb

docker-compose.override.yml

publish/
*.publish.xml
*.azurePubxml

.vscode/

TestResults/
*.coverage
*.coveragexml